<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color" xmlns:th="http://www.thymeleaf.org" th:fragment="header">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#" th:text="#{menu.articlemanagementststem}">Article Management System </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:text="#{menu.home}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{menu.category}">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{menu.aboutus}">About us</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{menu.language}">Language</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/article?lang=en}">English</a>
                    <a class="dropdown-item" th:href="@{/article?lang=km}">Khmer</a>
                    <a class="dropdown-item" th:href="@{/article?lang=korean}">Korean</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

        <form class="form-inline">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" th:placeholder="#{menu.search}" aria-label="Search" />
            </div>
        </form>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->