.circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

tr>td:last-child {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
tr>th:last-child{
    width: 18%;
}
button.btn.btn-info.waves-effect.waves-light {
    margin-left: 0px;
}
button.btn.success-color-dark.circle.waves-effect.waves-light, button.btn.info-color-dark.circle.waves-effect.waves-light,button.btn.danger-color-dark.circle.waves-effect.waves-light{
    margin-left: 0px;
    margin-right: 0px;
}
.col-xl-4{
    margin: auto;
}
input#defaultFormRegisterPasswordEx {
    border: none;
    padding-left: 0px;
}
input.btn.btn-unique {
    margin-left: 0px;
}
p.h4.text-center.mb-4 {
    margin-top: 30px;
    margin-bottom: 0px;
}