<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default">
<head>
<meta charset="UTF-8"/>
<title th:text="${formAdd}?'Add new Article':'Update Article'">Add new Article</title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet" />
</head>
<body>
	<!--content-->
	<div class="container" layout:fragment="content">
		<div class="col-xl-4" style="margin: auto;">
			<!-- Default form register -->

			<form th:action="${formAdd}?'/add':'/update'" method="post" enctype="multipart/form-data">
				<p class="h4 text-center mb-4" th:text="${formAdd}?'Add new Article':'Update Article'" style="margin-top: 30px;margin-bottom: 0px;">Add new article</p>
				<!-- Default input ID -->
				<label for="defaultFormRegisterNameEx" class="grey-text">ID</label>
				<span th:if="${#fields.hasErrors('article.id')}" style="color:red;float:right">*ID Can not be null</span>
				<input id="defaultFormRegisterIdEx" class="form-control" type="text" th:field="${article.id}" placeholder="Enter id"/>

				<br />

				<!-- Default input name -->
				<label for="defaultFormRegisterNameEx" class="grey-text">Name</label>
				<span th:if="${#fields.hasErrors('article.title')}" style="color:red;float: right;">*Title Can not be null</span>
				<input id="defaultFormRegisterNameEx" class="form-control" th:field="${article.title}" placeholder="Enter title"/>

				<br />

				<!-- Default input email -->
				<label for="defaultFormRegisterEmailEx" class="grey-text">Description</label>
				<span th:if="${#fields.hasErrors('article.description')}" style="color:red;float:right;">*Description Can not be null</span>
				<input id="defaultFormRegisterEmailEx" class="form-control" th:field="${article.description}" placeholder="Enter description"/>

				<br />

				<!-- Default input email -->
				<label for="defaultFormRegisterConfirmEx" class="grey-text">Author</label>
				<span th:if="${#fields.hasErrors('article.author')}" style="color:red;float: right;">*Author Can not be null</span>
				<input id="defaultFormRegisterConfirmEx" class="form-control" type="text" th:field="${article.author}" placeholder="Enter author name"/>

				<br />

				<!-- Default input password -->
				<label for="defaultFormRegisterPasswordEx" class="grey-text">Choose Image</label>
				<input id="defaultFormRegisterPasswordEx" class="form-control" type="file" name="file" style="border: none; padding-left: 0px;"/>

				<input class="btn btn-unique" type="submit" th:value="${formAdd}?'Save':'Update'" style="margin-left: 0px;"/>
				<a href="/article"><button type="button" class="btn btn-unique" style="margin-left: 0px;">Back TO Home Page</button></a>
			</form>
			<!-- Default form register -->
		</div>

	</div>

	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

</body>
</html>