<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default">
<head>
<meta charset="UTF-8"/>
<title th:text="${article.title}"></title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet" />
</head>

<body>
	<!--Content-->
	<div class="container-fluid" layout:fragment="content">

		<!-- Card -->
		<div class="row card col-xl-4" style="margin: auto;margin-top: 10px">

			<!-- Card image -->
			<img class="card-img-top" th:src="${article.thumnail}" alt="Card image cap" />

			<!-- Card content -->
			<div class="card-body">

				<!-- Title -->
				<h4 class="card-title">
					<a th:text="${article.title}"></a>
				</h4>
				<!-- Text -->
				<p class="card-text" th:text="'Description:'+${article.description}"></p>
				<p class="card-text" th:text="'Author:'+${article.author}"></p>
				<p class="card-text" th:text="'Date:'+${article.createdDate}"></p>
				<p class="card-text"></p>
				<!-- Button -->
				<a href="/article" class="btn btn-primary">Back TO Home Page</a>

			</div>

		</div>
		<!-- Card -->

	</div>

	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

</body>
</html>