<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Article Management System</title>
</head>

<body>

<!-- Start your project here-->
<div class="container" layout:fragment="content">
    <a href="/add">
        <button class="btn btn-info waves-effect waves-light" >
            <i class="fa fa-plus-circle" aria-hidden="true" th:text="#{button.add}"></i>
        </button>
    </a>
    <!--Table-->
    <table class="table table-responsive-md">

        <!--Table head-->
        <thead class="blue white-text">
        <tr>
            <th class="th-sm" th:text="#{book.id}"></th>
            <th class="th-lg" th:text="#{book.title}"></th>
            <th class="th-lg" th:text="#{book.detail}"></th>
            <th class="th-lg" th:text="#{book.author}"></th>
            <th class="th-lg" th:text="#{book.date}"></th>
            <th class="th-lg" th:text="#{book.image}"></th>
            <th class="th-lg" th:text="#{book.action}">Action</th>
        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
        <tr th:each="article : ${articles}" th:object="${article}">
            <td th:text="*{id}"></td>
            <td th:text="*{title}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{author}"></td>
            <td th:text="*{createdDate}"></td>
            <td><img th:src="*{thumnail}" width="50px"/></td>
            <td>
                <a th:href="@{/article/{id}(id=*{id})}"><button type="button" class="btn success-color-dark circle">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button></a>
                <a th:href="@{/update/{id}(id=*{id})}"><button type="button" class="btn info-color-dark circle">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </button></a>
                <a th:href="@{/delete/{id}(id=*{id})}">
                <button type="button" class="btn danger-color-dark circle">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                </button></a>
            </td>
        </tr>
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
</div>

</body>
</html>